[submodule "Week1-Python-And-Git-Foundation/Task5"]
	path = Week1-Python-And-Git-Foundation/Task5
	url = https://github.com/meheralimeer/File-Analyzer-App.git
[submodule "Week3-Week4-Project-Plant-Watering-System/Plant-Watering-System"]
	path = Week3-Week4-Project-Plant-Watering-System/Plant-Watering-System
	url = https://github.com/magic-meer/Plant-Watering-System
